body {
  padding-top: 50px;
  background-color: #f5f5f5;
}

/*.navbar-default {
	background-color: rgb(116, 194, 110);
}*/

.collection > .panel {
/*    width: 200px;
*/}

/*.collection-card {

}*/

.card-body {
    height: 260px;
}

.detail {
    margin-top: 60px;
}

.detail > div {
    margin-top: 10px;
}

.detail > div > span:nth-child(2) {
    font-size: 16px;
}

.search-bar, #dropbox-btn {
    margin-top: 15px;
}

.search-bar>input {
    width: 150px;
}

.check-status {
    margin-top: 10px;
}

.own-icon {
    width: 31px;
}

.museum-icon {
    width: 37px;
}

.check-status > label > input[type=checkbox] {
    margin-top: 11px;
}

@media screen and (max-width: 768px) {
/*    .collection-card {
        margin-right: 20px;
        margin-left: 20px;
    }*/
}

