.col-xs-12.col-sm-6.col-md-4.collection-card
    .panel.panel-default
        .panel-heading
            h3.panel-title.name {{:name}}

        .panel-body.card-body
            .detail
                div
                    span 売値: 
                    span {{:price}}
                div
                    span 出現場所: 
                    span {{:location}}
                div
                    span 出現期間: 
                    span {{:time_of_year}}
                div
                    span 出現時間帯: 
                    span {{:time_of_day}}
                div
                    span 出現条件: 
                    span {{:condition}}